@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'CharterC'; */
}

@layer components {
  .button__default {
    @apply bg-[#393939] 
      rounded-md 
      px-3 py-1.5 
      text-sm text-[#d9d9d9];
  }

  .formatting__tool {
    @apply p-2 
    text-[#393939]  hover:text-[#d9d9d9]
    hover:bg-[#393939]
    rounded
    cursor-pointer;
  }

  .bg__light-dark {
    @apply text-sm 
    bg-[#393939]/10 
    font-medium 
    rounded-md 
    px-3 py-1.5;
  }
}

.overwrite-sticky {
  overflow-y: auto !important;
}

@font-face {
  font-family: 'Cascadia';
  font-style: normal;
  font-weight: normal;
  src: url('/Cascadia.ttf');
}
